<section class="section">
  <div class="search_form">
    <%= form_tag("/search", method: 'post', remote: true ) do %>
      <%= label_tag(:search, 'Search for:') %>
      <%= text_field_tag(:search) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
  <div class="container">
    <div class="columns">
    	<% if user_signed_in? %>
    		<%= render 'profile' %>
    	<% else %>
       <%= render 'trends' %>
      <% end %>

       <%= render 'feed' %>
       <%= render 'who-to-follow' %>
    </div>
  </div>
</section>
<style type="text/css">
  .container {
    margin-top: 20px;
  }
  .search_form {
    display: inline-block;
    text-align: center;
  }
  .search_form {
    padding-left: 45px;
  }
</style>